#wrapper {
display:none
}
body:after {
content: '网易蹲。。网易蹲。。网易蹲完支付宝蹲。。支付宝蹲。。支付宝蹲完携程蹲。。携程蹲完。。。。艺龙蹲。。艺龙蹲完蓝翔蹲。。蓝翔蹲完百度蹲。。百度蹲完股市蹲';
position: absolute;
top: 200px;
font-size: 80px;
color: #01B672;
font-family:"微软雅黑"
}
body{background: url(//camo.githubusercontent.com/68dbbbb1b7c6a90c313a7aa782706b857e956b8e/687474703a2f2f746d786b2e6f72672f782e706e67);}
*{cursor:none}
